:root {
  /** 主题颜色 */

  /*
  --vp-c-brand-1: #5086a1;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #8cccd5;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  */

  /** 背景颜色 */

  /*
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f0f0f0; /* Slightly darker for better contrast */
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f0f0f0;

  /** 文本颜色 */

  /*
  --vp-c-text-1: #222222; /* Increased contrast */
  --vp-c-text-2: #444444; /* Increased contrast */
  --vp-c-text-3: #666666; /* Increased contrast */
}

/** 深色模式 */
[data-theme="dark"] {
  /*
  --vp-c-brand-1: #8cccd5;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #5086a1;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  */

  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
  */

  /*
  --vp-c-text-1: #fafafa; /* Increased contrast for dark mode */
  --vp-c-text-2: #cccccc;
  --vp-c-text-3: #999999;
}

img.vp-image {
  width: 48px;
  height: 48px;
}